<h2>Welcome to Pizza House!</h2>
  

  <div class="row">

  <% @products.each do |p| %>
    <div class="col-md-3">
            <div>
            <%= p.title %>
            </div>

             <div>
            <img src="<%= p.path_to_image %>" />
            </div>

            <div>
              <%= p.description %>
            </div>
            
             <div>
              Price: <%= p.price %> $
            </div>

             <div>
              Size: <%= p.size %> cm
            </div>

            <div>
              Weigh: 500 g
            </div>
<br />
            <div>
              <button type="button" class="btn btn-success btn-sm" onclick="add_to_cart()" >Add to cart</button>
            </div>
    </div>
  <% end %>

</div>

<br />
<br />
<br />
<button class="btn btn-primary" type="submit" onclick="something()">Click me !</button>
